<ul class="nav navbar-nav">
    <li class="toggle-sidebar">
        <a href="#">
            <i class="fa fa-reorder"></i>
            <span class="sr-only">Collapse sidebar</span>
        </a>
    </li>
    <li>
        <a href="#" class="reset-layout tipB" title="Reset panel position for this page"><i class="fa fa-history"></i></a>
    </li>
</ul>